@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url("/font/RobotoSlab-VariableFont_wght.woff2") format("woff2");
}

/* Roboto Slab */
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.button-active-effect {
  @apply transition duration-100 ease-in-out transform active:scale-95;
}
